#container{
    border: 5px black solid;
    height: 1200px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.item{
    height: 250px;
    width: 250px;
    background-color: aqua;
    border: 3px brown solid;
}